html, body {
  background-color: #eaeaea;
  background-image: url(../images/hatched-bg.jpg);
  background-attachment: fixed;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.stream_element, .content-area {
  position: relative;
  border: 1px solid #bbb;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #aaa;

  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: #fff;
}

.stream_element {
  -webkit-transition: opacity 0.3s ease;

  object {
    min-width: 100%;
  }

  padding: 10px;
  margin: 10px 0;

  img {
    max-width: 100%;
  }

  .avatar {
    height: 40px;
    width: 40px;
    box-shadow: 0 -1px 0px rgba(0,0,0,0.2);
  }

  p {
    margin-bottom: 2px;
  }

  .post-author {
    position: absolute;
    left: -50px;
    top: 0;
  }

  .post-scope {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 48px;
    left: -39px;
  }

  .post-stats{

    padding: 5px 0;
    padding-top: 10px;

    time {
      font-size: smaller;
      color: #999;
    }

    .post-reactions {
      cursor: default;
      float: right;
      .reaction-icon {
        height: 18px;
        width: 18px;
        margin-left: 8px;
      }
    }
  }

  img.delete {
    -webkit-transition: opacity 0.2s;
    opacity: 0;
    position: absolute;
    right: -10px;
    top: -10px;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }

  &:hover {
    border: 1px solid #999;

    img.hide_post, img.remove_post {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.avatar {
  border-radius: 5px;
}

.hidden {
  display: none;
}

.comments {
  margin-left: -5px;
  margin-right: -5px;
  position: relative;

  .comment {
    -webkit-transition: background-color 0.2s;

    position: relative;

    &:first-child {
      box-shadow: inset 0 2px 5px -3px #999;
      margin-top: 7px;
      border-top: none;
    }

    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-radius: 0 0 5px 5px;
      margin-bottom: -10px;
      border-bottom: none;
    }

    background-color: #eee;
    &:hover{
      background-color: #fafafa;

      img.comment_delete {
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }

    padding: 10px;
    padding-left: 60px;

    .avatar {
      position: absolute;
      left: 10px;
      top: 10px;
    }

    .from {
      color: inherit;
      font-weight: bold;
    }

    time {
      display: block;
      font-size: smaller;
      margin-top: 2px;
      color: #888;
    }
  }

  .new_comment {
    margin-bottom: -20px;
    padding: 0 5px;

    textarea {
      width: 338px;
    }

    .avatar {
      display: none;
    }
  }
}

