header {
  display: none;
}

html, body {
  background-color: #eaeaea;
  background-image: url(../images/hatched-bg.jpg);
  background-attachment: fixed;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.stream {
  -webkit-transition: all 0.4s ease;
  -webkit-transform: translateZ(0px);

  &.over {
    margin-left: -300px;

    .stream_element:not(.selected) {
      opacity: 0.2;
    }
  }

}

.stream_element:hover {
  border: 1px solid #999;
}

.stream_element {
  -webkit-transition: opacity 0.3s ease;
  position: relative;

  object {
    min-width: 100%;
  }

  border: 1px solid #bbb;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #aaa;

  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: #fff;
  cursor: pointer;

  img {
    max-width: 100%;
  }

  p {
    margin-bottom: 2px;
  }

  .post-author {
    position: absolute;
    left: -50px;
    top: 0;
  }
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  box-shadow: 0 -1px 0px rgba(0,0,0,0.2);
}

.big .avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0 -3px 0px rgba(0,0,0,0.6), 0 3px 0px rgba(155,155,155,0.6), -3px 0px 0px rgba(155,155,155,0.4), 3px 0px 0px rgba(155,155,155,0.4);
}

.controls {
  display: none;
}

#main-nav {
  z-index: 10;

  h2 {
    font-size: 140px;
  }

  position: fixed;
  top: 50px;
  left: 10px;
  font-weight: 800;
  text-shadow: 0px 0px 50px #fff;

  a {
    display: block;
    background-color: #333;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-left: 16px;
    color: #999;
  }
}

.hidden {
  display: none;
}

.comments {
  margin-left: -5px;
  margin-right: -5px;
  position: relative;

  .comment {
    -webkit-transition: background-color 0.2s;

    position: relative;

    &:first-child {
      box-shadow: inset 0 2px 5px -3px #999;
      margin-top: 20px;
      border-top: none;
    }

    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-radius: 0 0 5px 5px;
      margin-bottom: -10px;
      border-bottom: none;
    }

    background-color: #eee;
    &:hover{
      background-color: #fafafa;
    }

    padding: 10px;

    .avatar {
      height: 30px;
      width: 30px;
      position: absolute;
      left: -40px;
      top: 0;
    }

    .from {
      color: inherit;
      font-weight: bold;
    }

    time {
      display: block;
      font-size: smaller;
      margin-top: 2px;
      color: #888;
    }
  }
}
